body {
	font-family: fixed; 
	text-align: center;
}

#grid {
	border: 1px solid #e6e6e6;
	border-collapse: collapse; 
	margin-left: auto; 
	margin-right: auto;
}

#grid tr td {
	border: 1px solid #e6e6e6;
}

#grid tr td.d a {
	color: white; 
	text-decoration: none;
}

#grid tr td.a a {color: black; 
	text-decoration: none; 
	font-weight: bold;
}

#grid tr td a:hover {
	color: #c0c0c0;
}

#pattern {
	display: block;
	float: left;
	text-align: left;
}