body {
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin: 0;
  color: #363636;
}

h1, h2, h3, h4, h5, h6 {
  color: #324A59;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

pre {
  font-size: 85%;
  font-family: "Menlo", "Consolas", "Courier New", monospace;
}

img {
  border: none;
}

div#sidebar {
  position: absolute;
  top: 0;
  left: 30px;
  width: 220px;
  padding: 10px;
  background-color: #F9B332;
  border: 2px solid #324A59;
  border-top: 0;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
}

div#sidebar h3 {
  color: #324A59;
}

a {
  color: #644A59;
}

a:visited {
  color: #aa4A59;
}

div#header {
  text-align: center;
}

div#sidebar div#header h1 {
  display: inline;
  font-weight: normal;
  font-size: 250%;
  font-family: "Impact", Geneva, Arial, Helvetica, sans-serif;
  color: #324A59;
}

div#content {
  position: absolute;
  left: 280px;
  right: 30px;
  padding: 10px;
  overflow: auto;
}

div#content div#footer {
  font-size: 90%;
  text-align: center;
}

.warning {
  color: #693100;
}
