body {font-family: "Trebuchet MS", Verdana, sans-serif;}
h1 h2 h3 h4 h5 h6 {font-family: 'Avant Garde', sans-serif;}
#contentwrap {}
#top {border-bottom: 2px solid #000; color: #000;}
#right {background: #eee; border-left: #000 2px solid;}
#foot {color: #000; border-top: 2px solid #000; text-align: center;}
#foot img {border: none;}