body {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 10pt;
}

h1,h2,h3 {
	color: #3d4c4c;
}

a:link {
	color: #cc7a3d;
}

a:visited {
	color: #7f6640;
}

a:hover {
	color: #3d4c4c;
}

code,pre {
	color: #3d4c4c;
	font-size: 9pt;
}

a:link code {
	color: #cc7a3d;
}

a:visited code {
	color: #7f6640;
}

a:hover code {
	color: #3d4c4c;
}

hr {
	border: none;
	border-top: 1px solid #000;
}

table[border="1"] {
	border: 1px solid #000;
	border-collapse: collapse;
}

table[border="1"] td {
	padding: 5px;
}

.TableHeadingColor {
	background-color: #d1c566;
}

.TableSubHeadingColor {
	background-color: #f2ffb2;
}

.FrameTitleFont {
	font-size: 100%;
	font-weight: bold;
	margin-top: 10px;
}

.FrameHeadingFont {
	font-size: 100%;
	font-weight: bold;
	margin-top: 10px;
}

.FrameItemFont {
	font-size: 100%;
}

.NavBarCell1 {
	background-color: #f2ffb2;
}

.NavBarCell1Rev {
	border: 1px solid #d1c566;
}