/* Theme */

body {
    font-family: Futura, sans-serif; 
}

fieldset {
    background-color: #F5F5DC;
    border-top: 0;
    border-right: 1px solid #4682B4;
    border-left: 3px solid #4682B4;
    border-bottom: 0;
}

legend, th {
    background-color: #DCDCDC;
}